<div class="container">
    <div class="row col-12">
        <h1 style="color: white;">{{titulo}}</h1>
        <p class="h3">These are some of the destination we can ofer for FREE!</p>
        <p class="h6">DISCLAIMER! we only offer  Google Maps based travel</p>
    </div>
    <div class="row align-items-stretch justify-content-start card-deck">

            <div *ngFor="let s of sitios" class="card" style="width: 18rem;">
                <img [src]="s.url_imagen" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title" style="color: black;">{{s.nombre}}</h5>
                  <p class="card-text" style="color: black;">{{s.descripcion}}</p>
                  
                <button (click)="verEnMaps(s.ubicacion)" type="button" class="btn btn-primary btn-lg btn-block pointer" style="background-color: #2f295e ;"  data-toggle="modal" data-target="#exampleModal">
                    Ver en Maps
                </button>
                  

                </div>
              </div>
    </div>
</div>
<div *ngIf="ver">

    <app-google-maps [sitio]="ubi" [id]="id"></app-google-maps>
</div>

   


<!-- 
<div class="row">
    <div class="col-12">
        <div class="card" style="background-color: #2f295e;">
            <div class="card-body">
                <h3 class="card-title"></h3>
                <table class="table table-bordered">
                    <thead>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Latitud</th>
                        <th>Longitud</th>
                        <th>imagen</th>

                    </thead>
                    <tbody>
                        <tr *ngFor="let s of sitios">
                            <td>{{s.nombre}}</td>
                            <td>{{s.nombre}}</td>
                            <td>{{s.ubicacion._lat}}</td>
                            <td>{{s.ubicacion._long}}</td>

                            <td><img [src]="s.url_imagen" alt=""></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>   -->